{% extends 'base.html.twig' %}
{% block title %}Page not found{% endblock %}
{% block page_title %}Exception<small>Page not found</small>{% endblock %}
{% block body %}
<div class="error-page">
    <div class="error-content">
        <h3><i class="fa fa-warning text-yellow"></i> Oops! Page not found</h3>
        <p>We could not handle this request which you were looking for. Meanwhile, you may 
        <a href="{{ path('homepage') }}">return to Home Page</a>
        </p>
    </div>
</div>
{% endblock %}