.slide h1{text-align:center;font-weight:200;}
.slide h3{margin-left: auto; margin-right: auto;width: 45%;text-align:center;position:relative;top:-10px;font-weight:300;}
.slide img{margin-left: auto; margin-right: auto;}
h4{font-weight:bold; font-size: 16px;}
.skin-black-light .main-header>.logo:hover {background-color: #ffffff;}
.main-header .logo{text-align: left;}
.main-header .logo-mini{text-align: center;}
.mr-none{margin-right: 0px !important;}
.pr-none{padding-right: 0px !important;}
.ml-none{margin-left: 0px !important;}
.pl-none{padding-left: 0px !important;}
.pl-8px{padding-left: 8px;}
.pl-14px{padding-left: 14px;}
.mb-none{margin-bottom: 0px !important;}
.hide {display:none;}
#siteinstall .modal-dialog{ margin: 80px auto;}
#siteinstall .modal-body .form-group:first-child, 
#siteinstall .modal-body .form-group:nth-child(2) {display: none;}
.modal-sm{width: 400px;}
.modal .form-group.has-error label,.modal .form-group.has-error .help-block{color: yellow !important;}
.skin-black-light .main-header>.logo {background-color: #ffffff;}
.page-content-header h1{font-size: 24px; margin: 0px auto 12px auto;}
.small-box .icon{top: -20px;}
.info-box-text {text-transform: inherit;}
.table-responsive {padding:15px;}
.main-header .navbar-custom-menu-left{float:left;}
.navbar-custom-menu-left > .navbar-nav > li {position: relative;}
.navbar-custom-menu-left > .navbar-nav > li > .dropdown-menu {position: absolute;right: 0;left: auto;}
@media (max-width: 991px) {
  .navbar-custom-menu-left > .navbar-nav {
    float: left;
  }
  .navbar-custom-menu-left > .navbar-nav > li {
    position: static;
  }
  .navbar-custom-menu-left > .navbar-nav > li > .dropdown-menu {
    position: absolute;
    right: 5%;
    left: auto;
    border: 1px solid #ddd;
    background: #fff;
  }
}
@media (max-width: 991px) {
  .main-header .navbar-custom-menu-left a{
    color: inherit;
    background: transparent;
  }
}
@media (max-width: 991px) {
  .navbar-custom-menu-left .navbar-nav > li {
    float: left;
  }
  .navbar-custom-menu-left .navbar-nav {
    margin: 0;
    float: left;
  }
  .navbar-custom-menu-left .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
  }
}
@media (max-width: 767px) {
  .main-header .navbar-custom-menu-left {
    float: left;
  }
}
@media (max-width: 991px) {
  .navbar-collapse.pull-left + .navbar-custom-menu-left {
    display: block;
    position: absolute;
    top: 0;
    right: 40px;
  }
}