h4{font-weight:bold; font-size: 16px;}
.skin-black-light .main-header>.logo:hover {background-color: #ffffff;}
.main-header .logo{text-align: left;}
.main-header .logo-mini{text-align: center;}
.mr-none{margin-right: 0px !important;}
.pr-none{padding-right: 0px !important;}
.ml-none{margin-left: 0px !important;}
.pl-none{padding-left: 0px !important;}
.pl-8px{padding-left: 8px;}
.mb-none{margin-bottom: 0px !important;}
.hide {display:none;}
#siteinstall .modal-dialog{ margin: 80px auto;}
#siteinstall .modal-body .form-group:first-child, 
#siteinstall .modal-body .form-group:nth-child(2) {display: none;}
.modal-sm{width: 400px;}
.modal .form-group.has-error label,.modal .form-group.has-error .help-block{color: yellow !important;}
.skin-black-light .main-header>.logo {background-color: #ffffff;}
.page-content-header h1{font-size: 24px; margin: 0px auto 12px auto;}
.small-box .icon{top: -20px;}
.info-box-text {text-transform: inherit;}
.table-responsive {padding:15px;}