<aside class="main-sidebar">
    <section class="sidebar">
      <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <li class="active treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span> <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a href="{{path('homepage')}}"><i class="fa fa-circle-o"></i> Applications</a></li>
            <li class="active"><a href="{{path('myprojects')}}"><i class="fa fa-circle-o"></i> My Projects</a></li>
          </ul>
        </li>
      </ul>
    </section>
</aside>