{% extends 'base.html.twig' %}
{% block body %}
<div class="col-md-12">
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <h1>Your development environment, in the cloud</h1>
      <h3>Phplakes combines a powerful online code editor with a full managed workspace in our managed cloud.</h2>
      <img src="{{asset('asset/img/phplakeide.png')}}"/>
    </div>
    <div class="item">
      <h1>Language tools that make you smarter</h1>
      <h3>Cloud9 combines a powerful online code editor with a full Ubuntu workspace in the cloud</h3>
    </div>
  </div>
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
</div>
</div>
{% endblock %}