{% extends 'base.html.twig' %}
{% block body %}
<div class="col-md-6">
    <div class="box box-primary normal">
        <div class="box-header with-border">
            <h3 class="box-title">You have reached your limit of free project</h3>
        </div>
        <div class="box-body">
            <h4>Choose Merchant for payment</h4>
            <a href="{{path('PayUMoney')}}" onclick="_gaq.push(['_trackEvent', 'payumoney_button', 'clicked'])"><img src="{{asset('asset/img/payumoney.png')}}"/></a> <a href="#" onclick="_gaq.push(['_trackEvent', 'paypal_button', 'clicked'])"><img src="{{asset('asset/img/pay-with-paypal.png')}}" width="137" height="47"/></a>
        </div>
    </div>
</div>
{% endblock %}